<link href="~/Content/Indexstyle.css" rel="stylesheet">

<div class="qty">
    <span class="minus">-</span>
    <input type="number" class="count" name="qty" value="1">
    <span class="plus">+</span>
</div>