@model The_Gym.Models.Forgot_PasswordModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@{
    <div class="signin-form recover-password">
        <h3>Recover Password</h3>
        @using (Html.BeginForm("Forgot_Password", "Login", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "Validation_Message" })
            <input type="submit" class="send" value="Submit Reset">
            <div class="signin-agileits-bottom">
                <p><a href="@Url.Action("Logout", "Login")"><i class="fa fa-arrow-left" aria-hidden="true"></i> Cancel and go back to Login page</a></p>
            </div>
        }
    </div>
}